[mysqld]
innodb_buffer_pool_size = 1G            #should be 50%-70% of total RAM available for mysql instance
innodb_buffer_pool_instances = 1        #1 if innodb_buffer_pool_size < 1GB
innodb_log_file_size = 128M             #The size in bytes of each log file in a log group. The default value is 48MB.
innodb_flush_log_at_trx_commit = 0      #The contents of the InnoDB log buffer are written to the log file approximately once per second.  you can lose up to a second of transactions with any mysqld process crash.
innodb_flush_method = O_DIRECT
innodb_file_per_table = ON              #InnoDB stores the data and indexes for each newly created table in a separate .ibd file. Enables InnoDB features such as table compression
innodb_stats_on_metadata = OFF          #When disabled, InnoDB does not update statistics for metadata statements
